

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/"> 
      Registrarse 
    </a>
  </nav>
  
  
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title">
         Registre un nuevo usuario  ▼
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="selectedEmp.nombre" placeholder="Escriba su nombre" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="selectedEmp.telefono" placeholder="Escriba su telefono" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="selectedEmp.edad" placeholder="Escriba su edad" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="selectedEmp.identificacion" placeholder="Escriba su identificacion" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="selectedEmp.direccion" placeholder="Escriba su direccion" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="selectedEmp.correo" placeholder="Escriba su correo" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="selectedEmp.tipoDeSangre" placeholder="Escriba su tipo de sangre" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="selectedEmp.peso" placeholder="Escriba su peso" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="selectedEmp.estatura" placeholder="Escriba su estatura" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="selectedEmp.genero" placeholder="Escriba su género" class="form-control">
      </div>
      <button (click)="editarGuardar" class="btn btn-primary" >
        Registrar
     </button> 
  
    </div>
  </div>
